<section class="aboutpage">
	<div class="container">
        <div class="column-large">
            <img src="http://gersande.com/content/images/2014/Sep/10541996_866040820097588_3257225961363611928_n.jpg">
			<h1>{{author.name}}</h1>
			<blockquote>{{author.bio}}</blockquote>
			<div>
				<h4>Info</h4>
				<div style="text-align:left;">
					<dl class="dl-horizontal">
						<dt>Location</dt>
						<dd><em>Unceded First Nations territory</em> Montréal, Qc</dd>
						<dt>Languages</dt>
						<dd>
							<ul class="list-inline" style="font-size: 14px; font-weight: 300;color: #333;line-height: 1.42857143; margin-bottom: 0px;">
								<li>français</li>
								<li>español</li>
								<li>English</li>
								<li><a href="http://arrowhead.gersande.com/tag/old-english">old Ænglish</a></li>
								<li><a href="https://twitter.com/voravel">brezhoneg</a></li>
							</ul>
						</dd>
						<dt>Interests</dt>
						<dd>
							<ul class="list-inline" style="font-size: 14px; font-weight: 300;color: #333;line-height: 1.42857143; margin-bottom: 0px;">
								<li>archery</li>
								<li>photography</li>
								<li>epic novels and poetry</li>
								<li>pretty code things</li>
								<li>dragons</li>
								<li>fish</li>
							</ul>
						</dd>
					</dl>
				</div>
				<div class="text-center">
				<h4 style="text-align: left">Social</h4>
				<a class="btn btn-social-icon btn-twitter" href="http://twitter.com/gersandelf">
					<i class="fa fa-twitter"></i>
				</a>
				<a class="btn btn-social-icon btn-facebook" href="http://facebook.com/gersande.lafleche">
					<i class="fa fa-facebook"></i>
				</a>
				<a class="btn btn-social-icon btn-instagram" href="http://instagr.am/gersandelf">
					<i class="fa fa-instagram"></i>
				</a>
				<a class="btn btn-social-icon btn-google-plus" href="https://plus.google.com/+GersandeLaFleche/posts">
					<i class="fa fa-google-plus"></i>
				</a>
				<a class="btn btn-social-icon btn-soundcloud" href="https://soundcloud.com/gersande">
					<i class="fa fa-soundcloud"></i>
				</a>
				<a class="btn btn-social-icon btn-vimeo" href="https://vimeo.com/gersande">
					<i class="fa fa-vimeo-square"></i>
				</a>
				</p>
			</div>
			</div>
			<div>
				<h4 style="text-align:left;"><span data-toggle="collapse" data-target="#demo" class="collapsed">Curriculum Vitae<br><small><small>click to show/hide</small></small></span></h4>
				<div id="demo" class="collapse" style="height: 0px;">
					<p><br><span style="border-bottom: 1px solid; padding-bottom: 5px;">{ Organizations }</span><br><br>
						Contributor @ <a href="http://www.amplab.ca">Ampersand lab (&) at Concordia University</a><br>
						Wordpress Designer @ <a href="http://weareminority.com">Minority Media Inc.</a><br>
						Creative Director @ <a href="http://soliloquies.ca/about/editorial-board/">Soliloquies Literary Magazine</a><br>
						Twitter Wizard @ <a href="http://tag.hexagram.ca">Technocultures, Arts and Games Research Center</a>
						<br><br><br>
						<span style="border-bottom: 1px solid; padding-bottom: 5px;">{ Past }</span><br><br>
						Co Founder @ <a href="http://kidscodejeunesse.org">kidsCODEjeunesse</a> (2012-2014)<br>
						Creative Director @ Undercover Coders <br>
						IT Technician and Coordinator @ <a href="http://dmcscanada.com">DMCS Inc.</a> (2011-2012)<br>
						Barista @ Coorporate Coffeeshop
					</p>
					<p>
						<br><span style="border-bottom: 1px solid; padding-bottom: 5px;">{ Videogame Incubator }</span><br><br>
						<img class="img-thumbnail pull-right" alt="100x100" src="http://gersande.com/content/images/2014/Sep/Sky_Logo.png" style="width: 100px; height: 100px;"><br>
						<em>Pixelles Incubator II</em><br>
						Developed a game prototype called <a href="http://gersande.itch.io/sky">Sky</a> in 6 weeks using Stencyl (an engine which facilitates scripting in ActionScript), with assets made in PyxelEdit and Photoshop, for the <a href="http://pixelles.ca">Pixelles</a> Incubator in January-March 2014.
					</p>
					<p>
						<br><span style="border-bottom: 1px solid; padding-bottom: 5px;">{ Education }</span><br><br>
						Bachelors <strong>Creative Writing</strong> <small><em>Concordia University</em> 2012-present</small><br><br>
						Electrical Engineering Student <small><em>McGill University</em> 2009-2011</small>
					</p>
					<p>
						<br><span style="border-bottom: 1px solid; padding-bottom: 5px;">{ Conferences }</span><br><br>
						Learning 2030 | <a href="http://learning2030.org/">learning2030.org</a> | <a href="http://learning2030.org/wp-content/themes/equinox/files/learning2030blueprint.pdf">Download</a><br><br>
					</p>
				</div>
			</div>
        </div>
    </div>
</section>