<section class="comments animated fadeInUp">
    <div class="container">
        <div class="column-large">
            <div id="disqus_thread"></div>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus</a>.</noscript>
        </div>
    </div>
</section>

<script type="text/javascript">
    var disqus_shortname = 'gersandecom';
    var disqus_title = '{{title}}';
    var disqus_identifier = '{{id}}';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
