<nav class="navbar navbar-inverse" role="navigation">
			<div class="container-fluid">
					<div class="navbar-header">
					  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					    <span class="sr-only">Toggle navigation</span>
					    <span class="icon-bar"></span>
					    <span class="icon-bar"></span>
					    <span class="icon-bar"></span>
					  </button>
					</div>

					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					  <ul class="nav navbar-nav navbar-right">
					    <li><a href="/author/gersande/">About</a></li>
					    <li><a href="http://patreon.com/gersande/">Patreon</a></li>
					    <li><a href="/press">Press</a></li>
					    <li><a href="/writing">Writing</a></li>
					    <li class="dropdown">
					      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Code <b class="caret"></b></a>
					      <ul class="dropdown-menu">
					        <li><a href="http://lab.gersande.com/">GitLab</a></li>
					        <li><a href="https://bitbucket.org/gersandelf">Bitbucket</a></li>
					        <li class="divider"></li>
					        <li class="dropdown-header">Games</li>
					        <li><a href="http://gersande.itch.io/">Games Portfolio</a></li>
					        <li class="dropdown-header">Organizations</li>
					        <li><a href="http://kidscodejeunesse.org">Kids Code Jeunesse</a></li>
					      </ul>
					    </li>
					    <li class="dropdown">
					      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Art <b class="caret"></b></a>
					      <ul class="dropdown-menu">
					        <li class="dropdown-header">Photography</li>
					        <li><a href="http://500px.com/gersande">Photography</a></li>
					        <li class="dropdown-header">Design</li>
					        <li><a href="https://dribbble.com/gersande">Dribble</a></li>
					      </ul>
					    </li>	
					  </ul>
					 </div>
			</div>
</nav>
