<!doctype html>
<html lang="en">
    <head>

        {{! Document settings and metadata }}
        <title>{{meta_title}}</title>
        <meta charset="utf-8" />
        <meta name="designer" content="Hayden Bleasel" />
        <meta name="rating" content="general" />
        <meta name="keywords" content="ghost, blog, {{meta_title}}" />

        {{! iOS, Android and Windows stuff }}
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=yes" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="msapplication-TileImage" content="{{asset 'images/windows-tile.png'}}" />
        <meta name="msapplication-TileColor" content="#262A2D" />

        {{! Robots and Viewport }}
        <meta name="robots" content="index, follow" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        {{! OpenGraph for Facebook }}
        <meta property="og:title" content="{{meta_title}}" />
        <meta property="og:image" content="{{@blog.url}}/assets/images/open-graph.png" />
        <meta property="og:locale" content="en_US" />

        {{! Twitter Card }}
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:title" content="{{meta_title}}" />
        {{#if @blog.cover}}<meta property="twitter:image" content="{{@blog.cover}}" />{{/if}}

        {{! Icons }}
        <link rel="icon" href="{{asset 'images/favicon.ico'}}" />
        <link rel="icon" sizes="196x196" href="{{asset 'images/android-homescreen.png'}}" />
        <link rel="apple-touch-icon" href="{{asset 'images/apple-touch-icon.png'}}" />

        {{! Prerendering and Prefetching }}
        {{#if @blog.cover}}
            <link rel="prerender" href="{{@blog.cover}}" />
            <link rel="prefetch" href="{{@blog.cover}}" />
        {{/if}}
        <link rel="dns-prefetch" href="//fonts.googleapis.com/" />
		
		{{! Bootstrap CSS}}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

        {{! Scripts and Stylesheets }}
        <link rel="stylesheet" href="{{asset 'css/basics.css'}}" />
        <link rel="stylesheet" href="{{asset 'css/animate.css'}}" />
        <link rel="stylesheet" href="{{asset 'css/gist.css'}}" />
        <link rel="stylesheet" href="{{asset 'css/phantom.css'}}" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="{{asset 'js/html5shiv-printshiv.js'}}"></script>
        <script src="{{asset 'js/respond.js'}}"></script>
  		
  		{{!Bootstrap JS}}
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  		
  		{{! Social icons}}
  		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  		<link rel="stylesheet" href="{{asset 'css/bootstrap-social.css'}}">

  		{{! Tweetmap CSS JS}}
  		<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
  		<script src="http://archives.gersande.com/tweetmap/timeago.js"></script>
  		<link rel="stylesheet" href="http://archives.gersande.com/tweetmap/tweetMap-1.1.0-min.css" />
  		<script src="http://archives.gersande.com/tweetmap/tweetMap-1.1.0-min.js"></script>

  		{{! Photomosaic stuff }}
  		<script src="{{asset '/photoMosaic/js/photomosaic.min.js'}}"></script>
  		<link rel="stylesheet" href="{{asset '/photoMosaic/css/photomosaic.css'}}" />

  		{{! Internalization }}
  		<script src="{{asset 'js/i18next.amd.withJQuery-latest.js'}}"></script>
  		<script src="{{asset 'js/i18next.amd.withJQuery-latest.js'}}"></script>


        {{! Page-Specific Metadata }}
        {{{block "meta"}}}

        {{ghost_head}}
		
		<script>
			$(document).ready(function(){		    
			   $('#myElement').photoMosaic();
			   $('.collapse').collapse()
			});
			
			$(function() {
				$('#accordion2').on('mouseenter.collapse.data-api', '[data-toggle=collapse]', function(e) {
			        var $this = $(this),
			            href, target = $this.attr('data-target') || e.preventDefault() || (href = $this.attr('href')) && href.replace(/.*(?=#[^\s]+$)/, '') //strip for ie7
			            ,
			            option = $(target).data('collapse') ? 'show' : $this.data()
			            $(target).collapse(option)
			    })
			})
			
		</script>
		
		{{! Google Analytics }}
		
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		
		  ga('create', 'UA-37910593-3', 'auto');
		  ga('send', 'pageview');
		
		</script>
		
    </head>
    <body class="{{body_class}}" id="top">
        
       	{{! Bootstrap menu}}
		<nav class="navbar navbar-inverse" role="navigation">
			<div class="container-fluid">
					<div class="navbar-header">
					  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					    <span class="sr-only">Toggle navigation</span>
					    <span class="icon-bar"></span>
					    <span class="icon-bar"></span>
					    <span class="icon-bar"></span>
					  </button>
					</div>

					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					  <ul class="nav navbar-nav navbar-right">
					    <li><a href="/author/gersande/">About</a></li>
					    <li><a href="http://www.patreon.com/gersande">Patreon</a></li>
					    <li><a href="/press">Press</a></li>
					    <li><a href="/writing">Writing</a></li>
						<li class="dropdown">
							<a href="http://gersande.com" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li class="dropdown-header">Gersande.com</li>								
								<li><a href="http://gersande.com/">Read Blog</a></li>
								<li><a href="http://gersande.com/rss/">RSS</a></li>
								<li><a href="http://gersande.com/gersande-is-going-ghost/">Why Ghost?</a></li>			
						        <li class="divider"></li>
								<li class="dropdown-header">Other blogs : </li>
								<li><a href="http://minecraft.gersande.com/">Minecraft.gersande.com</a></li>
								<li><a href="http://arrowhead.gersande.com/">Arrowhead</a></li>
								<li class="divider"></li>
								<li class="dropdown-header">Letters : </li>
								<li><a href="http://tinyletter.com/gersande">Sign up for email letters</a></li>
							</ul>
						</li>
					    <li class="dropdown">
					      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Code <b class="caret"></b></a>
					      <ul class="dropdown-menu">
					        <li><a href="https://gitlab.com/u/gersande">GitLab</a></li>
					        <li><a href="https://bitbucket.org/gersandelf">Bitbucket</a></li>
					        <li class="divider"></li>
					        <li class="dropdown-header">Games</li>
					        <li><a href="http://gersande.itch.io/">Games Portfolio</a></li>
					      </ul>
					    </li>
					    <li class="dropdown">
					      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Art <b class="caret"></b></a>
					      <ul class="dropdown-menu">
					        <li class="dropdown-header">Traditional & Digital Art</li>
					        <li><a href="/art">Art</a></li>
					        <li class="dropdown-header">Photography </li>
					        <li><a href="http://500px.com/gersande">Photography 500px</a></li>
					        <li class="dropdown-header">Design</li>
					        <li><a href="https://dribbble.com/gersande">Dribble</a></li>
							<li class="dropdown-header">Fashion</li>
							<li><a href="http://folkgoth.tumblr.com">Folk Goth Fashion Tumblr</a></li>
					      </ul>
					    </li>	
					  </ul>
					 </div>
			</div>
		</nav>

        
        <nav class="animated fadeIn navigation">
            <div class="container">
                <a href="{{@blog.url}}" class="text-right sidebar brand">
                    {{#if @blog.logo}}<img src="{{@blog.logo}}" alt="{{@blog.title}}" />{{/if}}
                </a>
                <p class="content">{{@blog.title}}</p>
            </div>
        </nav>
        

        <div class="main">
            {{{body}}}
			<div class="text-center">
				{{#if author}}
				
				{{! Do nothing }}
				
				{{else}}
				
				{{#if pagination.prev}}

				{{pagination}}

				{{else}}

				{{#if pagination.next}}

				{{pagination}}
				
				{{/if}}

				{{/if}}
				
				{{/if}}
				<br><br>
				<a href="#top" class="theme">Back to top</a>	
			</div>
        </div>
        <footer class="animated fadeIn" id="footer">
           <div class="container text-center">
				<div id="myMap" class="gmap"></div>
			</div>
            <div class="container text-center">
                <p class="copyright"><span>Made by {{@blog.title}}.</span> <span>Powered by Ghost.</span></p>
                <a href="https://github.com/haydenbleasel/phantom" class="theme">Base Ghost Theme: Phantom by Hayden Bleasel</a><br>
                <a class="theme">Edits to Phantom by Gersande</a>
            </div>
            <div class="container text-center">
            	<a class="theme" href="/credit">Credits</a>
            </div>
        </footer>

        {{ghost_foot}}

        {{! Deferred scripts }}
        <script src="{{asset 'js/fastclick.js'}}"></script>
        <script src="{{asset 'js/stellar.js'}}"></script>
        <script src="{{asset 'js/phantom.js'}}"></script>
		
		{{! i18n }}
		<script>
			$.i18n.init({
		        //lng: 'en-UK',
		        ns: { namespaces: ['ns.common', 'ns.special'], defaultNs: 'ns.special'},
		        useLocalStorage: false,
		        debug: true
		        prelaod: ['fr']
		    }, function(t) {
		        $('#add').text($.t('ns.common:add'));
		        $('#appname').text($.t('app.name'));
		        $('#apparea').text($.t('app.area'));
		        $('#insert').text($.t('app.insert', {youAre: 'great'}))
		        $('#singular').text($.t('app.child', {count: 1}))
		        $('#plural').text($.t('app.child', {count: 3}))
		        $('#nesting').text($.t('app.district'));
		        $('#male').text($.t('app.friend_context', {context: 'male'}))
		        $('#female').text($.t('app.friend_context', {context: 'female'}))
		
		        $('.nav').i18n();
		        $('#btn').i18n();
		        $('#extendedAttr').i18n();
		    });
			Handlebars.registerHelper('t', function(i18n_key) {
			  var result = i18n.t(i18n_key);
			 
			  return new Handlebars.SafeString(result);
			});
			
		</script>
    </body>
</html>
