@charset "utf-8";

/* reset */
.photoMosaic,
.photoMosaic img, .photoMosaic div, .photoMosaic span,
.photoMosaic a:link, .photoMosaic a:visited, .photoMosaic a:active, .photoMosaic a:hover {
    background:none; outline:none; border:0; height:auto; width:auto; max-height:none !important; max-width:none !important; 
    min-height:none !important; min-width:none !important; font-style:normal; font-variant:normal; font-weight:normal;
    list-style:none; margin:0; padding:0; position:static; float:none; visibility:visible;
    overflow:visible; color:#000000; letter-spacing:normal; line-height:120%; text-align:left; text-decoration:none; 
    text-indent:0; text-transform:none; vertical-align:baseline; white-space:normal; word-spacing:normal;
}

/* selective reset */
.photoMosaic img, .photoMosaic a:link, .photoMosaic a:visited, .photoMosaic a:active, .photoMosaic a:hover {
    margin:0 !important; padding:0 !important;
}

/* base */
.photoMosaic { position:relative; overflow:hidden; margin-bottom:2em; }
    .photoMosaic span,
    .photoMosaic a:link,
    .photoMosaic a:visited,
    .photoMosaic a:active,
    .photoMosaic a:hover { display:block; overflow:hidden; position:absolute; }

    .photoMosaic img { display:block; position:relative; top:0px; opacity:1; }
        .photoMosaic a:hover img { opacity:0.8; }

        .photoMosaic img.thumbnail,
        .photoMosaic img.medium,
        .photoMosaic img.large { position:absolute; opacity:0;}

/* loading */
.photoMosaic .photoMosaicLoading { background:transparent url('../images/spinner-arrows.gif') 0px 0px no-repeat; padding:0 0 0 20px; line-height:20px; }

.photoMosaic.loading .photomosaic-item { background:#efefef url('../images/spinner-snake.gif') 50% 50% no-repeat; }
.photoMosaic.loading .photomosaic-item.loaded { background:none; }

.PM_preloadify { visibility:hidden; position:absolute; bottom:5px; right:10px; }

.PM_js .photoMosaicTarget .gallery { display:none; }


/* overflow:hidden; on a container kills 3d */
/* base */
.PM_csstransforms.PM_csstransitions .photoMosaic .photomosaic-item,
.PM_csstransforms.PM_csstransitions .photoMosaic img {
    -webkit-transform-origin: center center;
       -moz-transform-origin: center center;
        -ms-transform-origin: center center;
         -o-transform-origin: center center;
            transform-origin: center center;

    -webkit-transition: all 0.3s ease-out 0s;
       -moz-transition: all 0.3s ease-out 0s;
        -ms-transition: all 0.3s ease-out 0s;
         -o-transition: all 0.3s ease-out 0s;
            transition: all 0.3s ease-out 0s;

    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
         -o-transform-style: preserve-3d;
            transform-style: preserve-3d;

    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
         -o-backface-visibility: hidden;
            backface-visibility: hidden;
}

/* The .loaded is added after all of the images have loaded */
.PM_csstransforms.PM_csstransitions .photoMosaic.resize-transition-none .photomosaic-item,
.PM_csstransforms.PM_csstransitions .photoMosaic.loading-transition-none img,
.PM_csstransforms.PM_csstransitions .photoMosaic.resize-transition-none .loaded img {
    -webkit-transition: none;
       -moz-transition: none;
        -ms-transition: none;
         -o-transition: none;
            transition: none;
}

.PM_csstransforms.PM_csstransitions .photoMosaic.transition-none .loading img,
.PM_csstransforms.PM_csstransitions .photoMosaic.loading-transition-none .loading img { }

.PM_csstransforms.PM_csstransitions .photoMosaic.transition-custom .loading img,
.PM_csstransforms.PM_csstransitions .photoMosaic.loading-transition-custom .loading img {
    /* good for example
        opacity:0;
        -webkit-transform: rotate( -5deg ) scale( 0.95 );
           -moz-transform: rotate( -5deg ) scale( 0.95 );
            -ms-transform: rotate( -5deg ) scale( 0.95 );
             -o-transform: rotate( -5deg ) scale( 0.95 );
                transform: rotate( -5deg ) scale( 0.95 );
    */
}

.PM_csstransforms.PM_csstransitions .photoMosaic.transition-fade .loading img,
.PM_csstransforms.PM_csstransitions .photoMosaic.loading-transition-fade .loading img {
    opacity: 0;
}

.PM_csstransforms.PM_csstransitions .photoMosaic.transition-scale-up .loading img,
.PM_csstransforms.PM_csstransitions .photoMosaic.loading-transition-scale-up .loading img {
    opacity: 0;
    -webkit-transform: scale( 0.95 );
       -moz-transform: scale( 0.95 );
        -ms-transform: scale( 0.95 );
         -o-transform: scale( 0.95 );
            transform: scale( 0.95 );
}

.PM_csstransforms.PM_csstransitions .photoMosaic.transition-scale-down .loading img,
.PM_csstransforms.PM_csstransitions .photoMosaic.loading-transition-scale-down .loading img {
    opacity: 0;
    -webkit-transform: scale( 1.15 );
       -moz-transform: scale( 1.15 );
        -ms-transform: scale( 1.15 );
         -o-transform: scale( 1.15 );
            transform: scale( 1.15 );
}

.PM_csstransforms.PM_csstransitions .photoMosaic.transition-slide-up .loading img,
.PM_csstransforms.PM_csstransitions .photoMosaic.loading-transition-slide-up .loading img {
    opacity: 0;
    -webkit-transform: translateY( 5% );
       -moz-transform: translateY( 5% );
        -ms-transform: translateY( 5% );
         -o-transform: translateY( 5% );
            transform: translateY( 5% );
}

.PM_csstransforms.PM_csstransitions .photoMosaic.transition-slide-down .loading img,
.PM_csstransforms.PM_csstransitions .photoMosaic.loading-transition-slide-down .loading img {
    opacity: 0;
    -webkit-transform: translateY( -5% );
       -moz-transform: translateY( -5% );
        -ms-transform: translateY( -5% );
         -o-transform: translateY( -5% );
            transform: translateY( -5% );
}

.PM_csstransforms.PM_csstransitions .photoMosaic.transition-slide-left .loading img,
.PM_csstransforms.PM_csstransitions .photoMosaic.loading-transition-slide-left .loading img {
    opacity: 0;
    -webkit-transform: translateX( 5% );
       -moz-transform: translateX( 5% );
        -ms-transform: translateX( 5% );
         -o-transform: translateX( 5% );
            transform: translateX( 5% );
}

.PM_csstransforms.PM_csstransitions .photoMosaic.transition-slide-right .loading img,
.PM_csstransforms.PM_csstransitions .photoMosaic.loading-transition-slide-right .loading img {
    opacity: 0;
    -webkit-transform: translateX( -5% );
       -moz-transform: translateX( -5% );
        -ms-transform: translateX( -5% );
         -o-transform: translateX( -5% );
            transform: translateX( -5% );
}